<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

    <div class="w3-sidebar w3-bar-block w3-light-grey" style="width:15%">
        <a href="/category/Index" class="w3-bar-item w3-button">Category List</a>
        <a href="/category/create" class="w3-bar-item w3-button w3-hover-black">Add Category</a>
        <a href="/product/index" class="w3-bar-item w3-button w3-hover-blue">Product List</a>
        <a href="/product/create" class="w3-bar-item w3-button w3-hover-black">Add Product</a>
        @*<a href="#" class="w3-bar-item w3-button w3-hover-green">Link 5</a>*@
    </div>

    @*<div style="margin-left:15%">

        <div class="w3-container w3-dark-grey">
            <h1>My Page</h1>
        </div>

        <div class="w3-container">
            <p>When you mouse over the links inside the side navigation, the background color will change to grey by default.</p>
            <p>If you want a different background color on hover, use any of the w3-hover-color classes.</p>
        </div>

    </div>*@

</body>
</html>


